.registration-form {
  max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
  
  .registration-form label {
    margin-bottom: 10px;
    text-align: center;
  }
  
  
  @media (max-width: 768px) {
    .registration-form {
      width: 100%;
    }
  }
  