.app-wrapper {
  width: auto;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.app-wrapper-info {
  width: 80%;
  padding-left: 4rem;
}
.app-wrapper-content{
  font-size: 30px;
  color: white;
}

.app-wrapper-img {
  width: 50%;
  padding: 4rem;
}

.app-wrapper-img img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.app-links-icons {
  color: white;
  font-size: large;
  display: flex;
  gap: 10px;
}

.app-links-icons > * {
  cursor: pointer;
}

.app-links-icons > *:hover {
  color: goldenrod;
}
